@media screen and (max-width:768px)



{
/*header*/

body {background-color:whitesmoke;}
.header { background-color:black; height:15vh;margin-bottom:2vw}
.contenitoreBarra {display:flex;flex-direction: row;justify-content: center;align-items:center;padding-right:2%;padding-left:2%;padding-bottom: 2%;margin-bottom: 2vw;}
.baraTutti {width:100%;display:flex;justify-content: space-around;align-items: center;margin-top: 2vh;}
.baraTutti:hover {border-left:0.2em solid white;border-right:0.2em solid white}
.baraTutti a {text-decoration: none;color:white;font-size:5vw}
.fooder {height:20vh;background-color:black;}
.titolo {text-align: center;font-family: 'Tapestry', cursive; font-size: 6vw;letter-spacing: 0.5vh;color:white;}

/*home*/
  
    #centroHome {display:flex;flex-direction: row;margin-bottom: 2vh;justify-content: center;}
    #vuotoHome {flex:0.2}
    #testoHome {flex:0.75;}
    #testoHomeStile {font-family: 'Dancing Script', cursive;font-size:3vw;;text-align: justify;}
    #immagineHome {display: flex;flex-direction: row;align-items:center;justify-content:center;height:40vh;}
    #immagineHome button 
    {
        color:black;
        width:4vw;
        height:4vw;
        border-radius: 5vw;
        border:0.3vw solid black;
        font-size:2vw;
        cursor:pointer;
        
    }
    
    #immagineHome button:hover
    {
        transform:scale(1.05);
    }
    #immagineHome button:active
    {
        transform:scale(0.95);
    }
    
    #immagineHomeFiglio 
    {
        display:flex;justify-content: center;
        height:80%;
        width:70%;
        
    }
    
    #immagineHome img 
    {
        height:30vh;
        width:100%;
        display:none;
        border:dashed 0.7vw black;
        
    }
    #immagineHome img:nth-child(1)
    {
        display:block;
    }
    
    #immagine {height:12%;width:7%;border-radius: 10%;cursor: pointer;}
    
    
    #menuTendina {
    
        background-color: #333;
        color:white;
        display:none;
        border-radius: 10%;
    }
    
    #menuTendina.attivato{
    
    
        display:block;
        height:20%;
        width:20%;
        
    }


/*lucia.html*/


#layoutBarra {display:flex;flex-direction: row;justify-content: space-around;margin:3vw;margin-bottom: 12vh;}
.sottolayoutBarra {display: flex; flex-direction: column;;margin:0.3em;flex:25%;margin-top:7vh}

input[type="button"] {
    width:100%;
    height:5vh;
    
    font-weight: bold;
    
    border:1vw solid black;
    cursor: pointer;
    background-color: #333;
    color:white;
}


input:hover {
    background-color: #666;
}

.paesi {
    background-color: #333;
    
    display:none;
}



.paesi.active li {
    font-size: 1.7vw;
    text-align: center;
}

.paesi.active {


    display:block;
    height:32%;
    width:100%;
    
    
}

nav ul {
    margin:1vh;
    display:flex;
    flex-direction: column;
    list-style-type: none;
    
}

nav ul li:hover{
    background-color: #666;
}



nav ul a {

    color:white;
    text-decoration: none;
    font-size:2vh;
    margin:1vh;
    
}

#toggle {height:7vh;font-size: 2vw;}
#toggl {height:7vh;font-size: 2vw;}
#togg {height:7vh;font-size: 2vw;}
#tog {height:7vh;font-size: 2vw;}



/* sfondo dei paesi */




#sanvito {
    height:35vh;
    width:100%;
    background-image:url(immagini/san-vito-chietino-notte-hd.jpg);
    background-size: 100% auto;
    background-repeat:no-repeat;
    

}

#lanciano {
    
    height:35vh;
    width:100%;
    background-image:url(immagini/lanciano10.jpg);
    background-size: 100% auto;
    background-repeat:no-repeat;
    
}

#ortona { 
    height:35vh;
    width:100%;
    background-image:url(immagini/ortona.jpg);
    background-size: 100% auto;
    background-repeat:no-repeat;
    

}
#fossacesia { 
    height:35vh;
    width:100%;
    background-image:url(immagini/fossacesia.jpg);
    background-size: 100% auto;
    background-repeat:no-repeat;
    

}
}